<app-move-select #move1 moveOrder="1" movePokemon="{{setPokemon}}" [currentMoves]="returnAList(move1.moveOrder)" (bubbledMove)="movesetChange($event, move1.moveOrder)"></app-move-select>
<app-move-select #move2 moveOrder="2" movePokemon="{{setPokemon}}" [currentMoves]="returnAList(move2.moveOrder)" (bubbledMove)="movesetChange($event, move2.moveOrder)"></app-move-select>
<app-move-select #move3 moveOrder="3" movePokemon="{{setPokemon}}" [currentMoves]="returnAList(move3.moveOrder)" (bubbledMove)="movesetChange($event, move3.moveOrder)"></app-move-select>
<app-move-select #move4 moveOrder="4" movePokemon="{{setPokemon}}" [currentMoves]="returnAList(move4.moveOrder)" (bubbledMove)="movesetChange($event, move4.moveOrder)"></app-move-select>
