<!-- <div *ngIf="myBulbasaur">
{{myBulbasaur["types"][0]["type"]["name"]}}
{{myBulbasaur["types"][1]["type"]["name"]}}
</div>
  <app-typebox></app-typebox>
  <app-typebox></app-typebox>

Hello.
<div *ngFor="let typechart of typecharts;">
  {{typechart.id}} weakness to fire: {{typechart.fire}}
  </div>
-->
<div id="team">
  <app-pokebox></app-pokebox>

  <app-pokebox></app-pokebox>

  <app-pokebox></app-pokebox>

  <app-pokebox></app-pokebox>

  <app-pokebox></app-pokebox>

  <app-pokebox></app-pokebox>
</div>
