<div id="box">
    {{boxId}}
    SELECT
    <select #pokeselect (change)="onCheck(pokeselect.value)">
      <option value="na">n/a</option>
      <option [value]="pokemon" *ngFor="let pokemon of pokemonList">{{pokemon | titlecase}}
    </select>
    <br/>



    <div *ngIf="firstType !== undefined && myPokemon && myPokemon['types'].length !== undefined && myPokemon['types'].length === 2">
    <img src="https://img.pokemondb.net/sprites/omega-ruby-alpha-sapphire/dex/normal/{{pokemonName}}.png">
    <br/>
    {{firstType | titlecase}}/{{secondType | titlecase }}
    </div>



    <div *ngIf="firstType !== undefined && myPokemon && myPokemon['types'].length !== undefined && myPokemon['types'].length === 1">
    <img src="https://img.pokemondb.net/sprites/omega-ruby-alpha-sapphire/dex/normal/{{pokemonName}}.png">
    <br/>
    {{firstType | titlecase}}
    </div>


    <div *ngIf="firstType !== undefined && myPokemon" class="typesbox">
      Weaknesses:
      <div *ngFor="let miniarray of typeArray">
      {{miniarray | titlecase}} <br/>
      </div>
    </div>

    <div *ngIf="firstType !== undefined && myPokemon">
        <app-move-set setPokemon="{{pokeselect.value}}" [setMoves]="moveList"></app-move-set>
    </div>

  </div>
